nav ul {
    display: flex;
    border: 4px solid black;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    justify-content: flex-end;
    height: 64px;
    align-items: center;
    padding-inline: 250px;
  }
  a {
    text-decoration: none;
  }
  li.logo {
    margin-left: 0;
    margin-right: auto;
  }

  .container{
    display: flex;
    border: 2px solid black;
    height: 400px;
  }
  .text{
    border: 10px solid black;
    flex-direction: row;
  }
  .item{
    flex-direction: column;
  }